cli:
    # Cardano network to be used [Default: 'mainnet']
    network: mainnet
    # Cardano era to be used [Default: 'allegra']
    era: alonzo
    # Directory where file are created. [Default: '.']
    dir: '.'
    # Shelley Genesis file location.
    shelleyGenesisPath: '/<PATH TO FILE>/mainnet-shelley-genesis.json'
    # cardano-node socket directory path. [Default: null]
    socketPath: ~
helper:
    # Time in seconds after which download files are removed
    tmpFileTTL: 600